.table__container {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
}

/* material ui classes */
.MuiTableCell-head {
  font-weight: bold !important;
}

/* material ui classes */
.MuiTableCell-root {
  font-weight: bold !important;
}

.MuiTableCell-root:nth-child(n + 2) {
  color: #ff4467 !important;
}

.MuiTableCell-root:nth-child(3) {
  color: #fac42f !important;
}

.MuiTableCell-root:nth-child(7) {
  color: #cc1034 !important;
}

.MuiTableCell-root:nth-child(5) {
  color: #45ce30 !important;
}

.MuiTableCell-root:nth-child(6) {
  color: black !important;
}
